<div class="primary">
	<h2>
	Value of Money
	</h2>
	<img src="img/money.jpg">
	<p>
   The Value of money is a very important topic which has to be discussed properly. <br>
   If there will be no money how would you buy your dream GOLDEN MOTORCYCLE?.
    </p>

	
	<h2>
	GMO foods
	</h2>
	<img src="img/food.jpg">
	<p>
  Genetically Modified foods are not the future but they have started affecting our present.<br>
   Nowadays It's very hard to trust if the food is GMO or natural. 
    </p>

	<h2>
	World in 2100
	</h2>
	<img src="img/future.jpg">
	<p>
	No one knows what future beholds for us, but the way humans are destroying the world,<br> our futures will be incapsulated inside a dome for sure. 
	</p>
</div>