<h1>Portfolio Page</h1>
<div class="cards">
	<figure>
		<img src="img/money-1.jpg">
		<figcaption>
		Money1
		</figcaption>
	</figure>
	<hr>
	<hr>
	<figure>
		<img src="img/money-2.jpg">
		<figcaption>
		Money2
		</figcaption>
	</figure>
	<hr>
	<hr>
	<figure>
		<img src="img/food-1.jpg">
		<figcaption>
		Food1
		</figcaption>
	</figure>
	<hr>
	<hr>
	<figure>
		<img src="img/food-2.jpg">
		<figcaption>
		Food2
		</figcaption>
	</figure>
	<hr>
	<hr>
	<figure>
		<img src="img/future-1.jpg">
		<figcaption>
		Future1
		</figcaption>
	</figure>
	<hr>
	<hr>
	<figure>
		<img src="img/future-2.jpg">
		<figcaption>
		Future2
		</figcaption>
	</figure>
</div>